@import "../variables";

.home_first {
  background: $background;
  padding-bottom:50px;

  h1 {
    color: $menu;
    font-family: 'Raleway', sans-serif;
    font-size: 9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .hotel_header {
    color: $yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home_star {
    width: 50px;
    height: 50px;
  }

  .since {
    color: $menu;
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .right_text {
    margin-top: 150px;
    color: $menu;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .left_text {
    margin-top: 40px;
    color: $yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  @media (max-width: 1199.98px) {
    h1 {
      font-size: 7.5rem;
    }
    .hotel_header {
      font-size: 7.5rem;
    }
  }
  @media (max-width: 991.98px) {
    h1 {
      font-size: 5.5rem;
    }
    .hotel_header {
      font-size: 5.5rem;
    }
  }
  @media (max-width: 767.98px) {
    h1 {
      font-size: 7rem;
    }
    .hotel_header {
      font-size: 7rem;
    }
    .right_text {
      margin-top: 50px;
    }
  }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 4.7rem;
    }
    .hotel_header {
      font-size: 4.7rem;
    }
  }

  .first_dropdown {
    margin-top: -970px;
    margin-left: 680px;
  }

  .second_dropdown {
    margin-top: -970px;
  }

  .button_dropdown {
    margin-top: -970px;
  }

  @media (max-width: 1199.98px) {
    .first_dropdown {
      margin-top: -825px;
      margin-left: 500px;
    }
    .second_dropdown {
      margin-top: -875px;
      margin-left: 630px;
    }
    .button_dropdown {
      margin-top: -920px;
      margin-left: 780px;
    }
  }
  @media (max-width: 991.98px) {
    .first_dropdown {
      margin-top: -631px;
      margin-left: 270px;
    }
    .second_dropdown {
      margin-top: -680px;
      margin-left: 400px;
    }
    .button_dropdown {
      margin-top: -730px;
      margin-left: 550px;
    }
  }
  @media (max-width: 767.98px) {
    .first_dropdown {
      margin-top: -491px;
      margin-left: 100px;
    }
    .second_dropdown {
      margin-top: -540px;
      margin-left: 230px;
    }
    .button_dropdown {
      margin-top: -590px;
      margin-left: 370px;
    }
  }
  @media (max-width: 575.98px) {
    .first_dropdown {
      display: none;
    }
    .second_dropdown {
     display: none;
    }
    .button_dropdown {
      display: none;
    }
  }
}